<html>
    <head>
        <title>Web: Latihan HTML</title>
    </head>
    <body>
        <div>
            <h1><a href="/"><font color=red>Tampilan HTML</font></a></h1>
        </div>

        <div>
            <p><u>Mochamad Jati Seno</u></p>
            <br>
            <p>mochjatiseno@gmail.com</p>
        </div>

        <div>
            <p>published: 10 Desember 2018 20:00 WIB</p>
            <h2><a href=""><font color="blue">Posting Pertama</font></a></h2>
            <p>Belajar html dulu ya</p>
        </div>

        <div>
            <p>published: 11 Desember 2018 05:00 WIB</p>
            <h2><a href=""><font color="green">Posting Kedua</font></a></h2>
            <p>Belajar untuk persiapan</p>
        </div>

        <div>
            <h1><a href="/">Looping</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>